<h1 class="title">Liste des recettes disponibles</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Nom</th>
    </tr>
  </thead>
  <tbody>
    @for (recipe of recipes; track recipe) {
      <tr [routerLink]="[recipe.id]">
        <td>{{recipe.type}}</td>
        <td>{{recipe.name}}</td>
      </tr>
    }
  </tbody>
</table>
<section class="actions">
  <button mat-button color="primary" [routerLink]="'create'">Créer une recette</button>
</section>

@if (!displayIdeas) {
  <button (click)="displayIdeas = true"><mat-icon fontIcon="people" /></button>
}
@if (!!displayIdeas) {
  <app-ideas />
}