<section>
  <table>
    <tr>
      <td>Nom de la recette</td>
      <td>{{recipe.name}}</td>
    </tr>
    <tr>
      <td>Type</td>
      <td>{{recipe.type}}</td>
    </tr>
    <!-- <tr>
    <td>Version</td>
    <td>{{recipe.version}}</td>
  </tr> -->
</table>

<section class="row">
  <section>
    <h2>Liste des Ingrédients</h2>
    <ul>
      @for (ingredient of recipe.ingredients; track ingredient) {
        <li>{{ingredient}}</li>
      }
    </ul>
  </section>
  <section>
    <h2>Comment Faire ?</h2>
    <ul>
      @for (how of recipe.instructions; track how) {
        <li>{{how}}</li>
      }
    </ul>
  </section>
</section>
</section>